.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 2.5rem;
  height: 2.5rem;
  z-index: 9999;
  pointer-events: none;
}
.ring {
  position: absolute;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  transition: transform 0.2s ease-out;
}
.ringBorder {
  border: 1px solid #fff;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  animation: pulse 2.5s linear infinite;
  box-shadow: 0 0 50px 5px #0110056e;
}
.ringPointer {
  background: #fff;
  border-radius: 50%;
  width: 4px;
  height: 4px;
}
.ring:nth-child(2) {
  transition: transform 0.1s ease-out;
}
@keyframes pulse {
  0% { box-shadow: 0 0 0 0 #0110056e; }
  100% { box-shadow: 0 0 50px 5px #0110056e; }
}
